<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - RFID Car Parking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_for_data_display.css') }}">
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
